{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
  <h1 class="text-center mb-4">Lista de Tareas</h1>

  {% if tasks %}
  <div class="row">
    {% for task in tasks %}
    <div class="col-md-6 mb-4">
      <div class="card shadow">
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'task_detail' task.id %}" class="text-decoration-none">
              {% if task.important %}
              <strong class="text-danger">{{ task.title }}</strong>
              {% else %}
              {{ task.title }}
              {% endif %}
            </a>
          </h5>
          <p class="card-text text-muted">
            {{ task.description }}
          </p>
          <p class="text-end text-muted">
            {% if task.datecompleted %}
            <small>Completada: {{ task.datecompleted|date:'d M Y, H:i' }}</small>
            {% else %}
            <small>Estado: Pendiente</small>
            {% endif %}
          </p>
          <div class="d-grid gap-2">
            {% if task.datecompleted %}
            <button class="btn btn-success btn-block" disabled>¡Bien hecho! ✅</button>
            {% else %}
            <form action="{% url 'complete_task' task.id %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn btn-primary btn-block">
                ¡Hazlo ya! ⏰
              </button>
            </form>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <p class="text-center text-muted">No hay tareas disponibles.</p>
  {% endif %}
</div>

{% endblock %}
